/*  */
body {
	font-family: "Roboto", sans-serif;
	background-color: #0f172a;
	color: #fff;
	padding: 0;
	margin: 0 auto;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

a {
	text-decoration: none;
	color: #fff;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.container {
	box-sizing: border-box;
	max-width: 1250px;
	padding: 0 15px;
	margin: 0 auto;
}

button {
	cursor: pointer;
	padding: 0;
	margin: 0;
}


.header {
	padding: 24px 0;
}

.header-block {
	max-width: 1000px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 24px;
	border-radius: 20px;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.07), 0 25px 50px -12px rgba(0, 0, 0, 0.25);
	background: rgba(255, 255, 255, 0.05);
	margin: 0 auto;
}

.logo {
	font-weight: 700;
	font-size: 32px;
	line-height: 1.1;
	color: #fff;
	margin-right: 38px;
}

.header-nav {
	display: flex;
	align-items: center;
	justify-content: start;

}

.header-nav-list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
}

.header-nav-list-item {}

.header-nav-list-link {
	padding: 18px 8px;
}

.header-btn-block {}

.header-btn {
	border-radius: 8px;
	padding: 12px 24px;
	border: 2px solid transparent;
	/*height: 48px;*/
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.03em;
	color: #fff;
	background-color: transparent;
}

.header-btn:first-child {
	margin-right: 16px;
}

.cover {
	border: 2px solid #9333ea;
	border-radius: 8px;
	width: 127px;
	/*height: 48px;*/
	background-color: #9333ea;
}

/*  */
.hero {
	padding: 80px 0;
}

.hero-container {
	display: flex;
	justify-content: center;
	gap: 16px;
	align-items: center;
	margin-bottom: 80px;
}

.hero-title {
	font-weight: 800;
	font-size: 72px;
	line-height: 1.1;
	text-align: center;
	color: #fff;
	margin-bottom: 32px;
}

.text-before,
.text-after {
	position: relative;
}

.text-color {
	color: #9333ea;
}

.text-before::before {
	display: inline-block;
	content: "";
	border: 4px solid #c084fc;
	position: absolute;
	left: 2px;
	top: 20px;
	width: 100%;
	overflow: hidden;
}

.text-after::after {
	display: inline-block;
	content: "";
	border: 4px solid #c084fc;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}


.hero-text {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.6;
	text-align: center;
	color: #fff;
	margin-bottom: 32px;
}

.hero-button {
	border: 2px solid #fff;
	border-radius: 8px;
	padding: 16px;
	width: 168px;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	color: #fff;
	background-color: transparent;
}

.fill {
	border: 2px solid #9333ea;
	background-color: #9333ea;
}

.hero-image {
	border-radius: 20px;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.07), 0 25px 50px -12px rgba(0, 0, 0, 0.25);
	background: #fff;
	margin: 0 auto;
}

/*  */

.first {
	padding: 80px 0;
}

.first-title {
	font-weight: 800;
	font-size: 56px;
	line-height: 1.1;
	text-align: center;
	color: #fff;
	margin-bottom: 80px;
}

.first-list {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	gap: 80px;
}

.first-list-itm {}

.first-itm-link {
	font-weight: 700;
	font-size: 24px;
	line-height: 1.1;
	color: #fff;
	padding: 16px 4px;
}

.first-icon {
	fill: #fff;
}

/*  */
.ideas {}

.ideas-list {}

.ideas-list-itm {
	display: flex;
	align-items: center;
	padding: 80px 0;
}

.ideas-content {
	margin-right: 80px;
}

.ideas-upper-text {
	font-weight: 700;
	font-size: 20px;
	line-height: 1;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 16px;
}

.ideas-title {
	font-weight: 800;
	font-size: 72px;
	line-height: 1.1;
	margin-bottom: 32px;
}

.ideas-sub-title {
	font-weight: 800;
	font-size: 56px;
	line-height: 1.1;
	color: #fff;
	margin-bottom: 32px;

}

.ideas-text {
	font-size: 18px;
	line-height: 1.6;
	color: #fff;
	margin-bottom: 32px;
}

.ideas-link {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	color: #fff;
}

.ideas-image {
	max-width: 750px;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.07), 0 25px 50px -12px rgba(0, 0, 0, 0.25);
	background: #dbeafe;
	border-radius: 20px;
}

.ideas-rect,
.ideas-border {
	position: relative;
	display: inline-block;
}

.ideas-rect::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	height: 80px;
	background: #be185d;
	overflow: hidden;
}

.ideas-border::before {
	content: "";
	position: absolute;
	top: 0;
	left: -15px;
	border: 5px solid #c2410c;
	width: 170px;
	height: 80px;
	overflow: hidden;
}

/*  */
.app {}

.app-content {}

.app-info {}

.app-image {}

.app-review {}

.app-review-list {}

.app-review-image {}

.app-review-text-container {}

.app-review-text {}

/*  */
.design {}

.design-content {}

.design-title {}

.design-button {}

.design-list {}

.design-list-itm {}

.design-itm-container {}

.design-itm-upper-text {}

.design-image {}

.design-itm-low-text {}

.design-itm-title {}

/*  */
.footer {}

.footer-upper {}

.footer .logo {
	color: #0f172a;
}

.footer-nav {}

.footer-nav-itm {}

.footer-nav-title {}

.footer-list-link {}

.footer-lower {}

.footer-cr {}

.footer-social-list {}

.footer-social-itm {}

.footer-icons {}